/* Global Vars */

:root {
  --primaryColor: #1be7ff;
  --secondaryColor: #e9ff70;
  --tertiaryColor: #affc41;
  --accentColor: rgb(255, 32, 110);
  /* --primaryColor: #072ac8;
  --secondaryColor: #f20089; */
  --backgroundColor: linear-gradient(#10002b, #3c096c);
}

/* Boiler-plate */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  background: var(--backgroundColor);
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}
p {
  font-size: 1rem;
}

/* Styles */

#art {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: radial-gradient(var(--backgroundColor), rgba(0, 0, 0, 0));
}

.info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 32px;
}

.info__img {
  border-radius: 50%;
  max-width: 100%;
  width: 256px;
  height: auto;
}

.info__name {
  color: var(--primaryColor);
  text-align: center;
  text-shadow: 1px 1px 2px var(--accentColor);
}

.info__description {
  color: var(--secondaryColor);
  text-align: center;
}

.info__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 16px;
}

.info__link {
  display: block;
  font-size: 1.25rem;
  color: var(--accentColor);
  text-decoration: none;
}

.info__link:not(:last-of-type) {
  margin-right: 24px;
}

.info__link-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info__link svg {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 750px) {
  .info__links {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .info__link:not(:last-of-type) {
    margin-right: 0px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 500px) {
  .info__img {
    width: 196px;
  }
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .info__img {
    width: 160px;
  }
  html {
    font-size: 12px;
  }
}

/* Glitchy Text */
.glitchy-text {
  position: relative;
  z-index: 10;
}

.glitchy-text__layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.glitchy-text:hover .glitchy-text__layer:nth-child(1) {
  animation: glitchy-text-1 500ms linear;
}
.glitchy-text:hover .glitchy-text__layer:nth-child(2) {
  animation: glitchy-text-2 500ms linear;
}
.glitchy-text:hover .glitchy-text__layer:nth-child(3) {
  animation: glitchy-text-3 500ms linear;
}

@keyframes glitchy-text-1 {
  0% {
    transform: matrix(1, 0.01, 0.01, 1, -2, -3);
    opacity: 1;
  }
  25% {
    transform: matrix(1, 0.01, 0.01, 1, 4, 5);
    opacity: 0.5;
  }
  50% {
    transform: matrix(1, 0.01, -0.01, 1, 1, -2);
    opacity: 0.25;
  }
  75% {
    transform: matrix(1, -0.01, 0.01, 1, -2, 6);
    opacity: 0.1;
  }
  100% {
    transform: matrix(1, 0, 0, 0, 1, 0);
    opacity: 1;
  }
}

@keyframes glitchy-text-2 {
  0% {
    transform: matrix(1, 0.1, 0.01, 1, 0, 0);
    opacity: 0.25;
  }
  25% {
    transform: matrix(1, 0.01, 0.1, 1, 0, 0);
    opacity: 0.5;
  }
  50% {
    transform: matrix(1, 0.1, -0.1, 1, 0, 0);
    opacity: 0.25;
  }
  75% {
    transform: matrix(1, -0.01, 0.04, 1, 0, 0);
    opacity: 0.6;
  }
  100% {
    transform: matrix(1, 0, 0, 0, 1, 0);
    opacity: 1;
  }
}

@keyframes glitchy-text-3 {
  0% {
    transform: matrix(1, 0, 0, 1, -1, -1);
    opacity: 1;
  }
  25% {
    transform: matrix(1, 0, 0, 1, 1, 3);
    opacity: 0.5;
  }
  50% {
    transform: matrix(1, 0, 0, 1, 3, -2);
    opacity: 0.2;
  }
  75% {
    transform: matrix(1, 0, 0, 1, -2, 3);
    opacity: 0.1;
  }
  100% {
    transform: matrix(1, 0, 0, 0, 1, 0);
    opacity: 1;
  }
}
